<div class="heroo" style="margin: 100px; width: 200px; height: 200px; border: 1px solid black">
 <img src="" alt="">
 <p class="nameH" style="color: white">name</p>
 <p class="superpower" style="color: white">superpower</p>
 <button class="hero" style="width: 50px; height: 50px">Nazhmi</button>
</div>

<div class="hero01" style="margin: 100px; width: 200px; height: 200px; border: 1px solid black">
  <img src="" alt="">
  <p class="nameH1" style="color: white">name</p>
  <p class="superpower1" style="color: white">superpower</p>
  <button class="hero1" style="width: 50px; height: 50px">Nazhmi1</button>

 </div>

 <div class="team"><a href="/team">Komanda</a></div>
{{!-- Валидация --}}
  