<nav class="navbar navbar-expand-lg navbar-light colorbutton">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:#0d6efd;" >Supa heros creator </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <nav class="navbar navbar-light colorbutton">
  <form class="container-fluid justify-content-start colorbutton">
    <button class="btn btn-outline-success me-2" type="button">Вступить в SHC</button>
    <button class="btn btn-outline-success me-2" type="button">Идентифицировать себя</button>
  </form>
</nav>
    </div>
  </div>
</nav>

{{!-- Валидация --}}
  <div class="photocontainer">
    <img src="/img/улыбка.png"/>
  </div>

  <div class="validationcontainer">
    <form id='logForm'>
      <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"  style="color:#0d6efd;">Позывной</label>
      <input type="login" class="form-control" id="exampleInputEmail1" name='login' aria-describedby="loginlHelp">
      <div id="loginHelp" class="form-text">Напомни, как тебя зовут</div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="color:#0d6efd;">Идентификатор</label>
        <input type="password" class="form-control" name='password' id="exampleInputPassword1">
        <div id="passwordHelp" class="form-text" style="color:#ffffff;">Пароль не забыл?</div>
      </div>
      <button type="submit" class="btn btn-primary">Время действовать!</button>
    </form>
  </div>
