

<div class="teamcont">
  <div class="card" style="width: 14rem;">
    <img src="/img/аюшаул.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Аюша Михайлов</h5>
      <p class="card-text"> Fullstack dev, созидатель позитива и невероятных идей.</p>
    </div>
  </div>
  <div class="card" style="width: 14rem;">
    <img src="/img/ костяул.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Константин Антонов</h5>
      <p class="card-text">Тимлид, Frontend dev, главный по задаванию вопросов: "Почему это не работает?".</p>
    </div>
  </div>
  <div class="card" style="width: 14rem;">
    <img src="/img/янаул.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Яна Багрова</h5>
      <p class="card-text">Database manipulation, Backend dev, украшение проекта и главная вдохновительница мужской части команды.</p>
    </div>
  </div>
  <div class="card" style="width: 14rem;">
    <img src="/img/ваняул.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Иван Миняев</h5>
      <p class="card-text"> Backend dev, помощник тимлида, суетолог, агрегатор идей.</p>
    </div>
  </div>
  <div class="card" style="width: 14rem;">
    <img src="/img/денисул.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Денис Боку</h5>
      <p class="card-text">Backend dev, мастер по роутам и связям с общественностью.</p>
    </div>
</div>
