<nav class="navbar navbar-expand-lg navbar-light colorbutton">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color:#0d6efd;" >Supa heros creator </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <nav class="navbar navbar-light colorbutton">
  <form class="container-fluid justify-content-start colorbutton">
    <a href="/login" ><button class="btn btn-outline-success me-2" type="button">Идентифицировать себя</button></a>
  </form>
</nav>
    </div>
  </div>
</nav>

{{!-- Валидация --}}
  <div class="photocontainer">
    <img id="oleg" src="/img/серьезный.PNG" />
  </div>

  <div class="validationcontainer">
    <form id='formReg' name='nameReg'>
      <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" style="color:#0d6efd;">Позывной</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name='login' aria-describedby="loginlHelp">
      <div id="loginlHelp" class="form-text">Как тебя называть</div>
    </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" style="color:#0d6efd;">Почтовые координаты</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name='email'aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Нам нужно знать, где тебя искать</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" style="color:#0d6efd;">Идентификатор</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name='password'>
        <div id="paswordlHelp" class="form-text" style="color:#ffffff;">Мы все равно узнаем пароль</div>
      </div>
      <button type="submit" class="btn btn-primary">Теперь ты один из нас!</button>
    </form>
  </div>
  
  <div class="footer">
   <a href="/rooster" style="color:rgb(233, 212, 21);" >2021 // ОАО 'Костромские петушки'</a>
  </div>
