
<div class="teamName" style="width: 300px; height: 400px; background: yellow">{{name}}</div>
<button class="deleteCard" style="width: 100px; height: 40px; border: 1px solid black">Delete</button>

{{#if login}}
{{#each heroes.hero}}
<div class="teamName" style="width: 300px; height: 400px: background: yellow">{{name}}</div>
{{/each}}
{{else}}

{{/if}}
