.colorbutton {
  background-color: rgb(233, 212, 21);
}
.greatcontainer{
  margin: 8% 0%;
  /* position: relative; */
  display: flex;
  /* align-content: center; */
  flex-direction: row;
  /* flex-wrap: no-wrap; */
  /* justify-content: center; */
  align-items: center;
  width: 70%;
  height: 100%;
  /* background-color: aqua; */
}

#oleg {
  /* overflow: hidden; */
  position: absolute;
  bottom: 0;
  /* top: 43.7%;
  left: 18.9%; */
  /* width: 30.8%;
  height: auto; */
  width: 400px;
  height: 500px;
  /* margin: 15% 10%; */
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%; */
}
.photocontainer{
/* width: 25%; */
/* padding: 4%; */
height: fit-content;
margin-right: 5%;
/* margin-top: 8%; */
}

.validationcontainer{
  position: absolute;
  top: 20%;
  left: 30%;
  padding: 2%;
  width: 350px;
  height: 450px;
  /* margin-left: 10%; */
  /* margin-top: 8%; */
  background-color: rgb(233, 212, 21);
  background: #1C6EA4;
background: -moz-linear-gradient(top, rgb(233, 212, 21) 0%, rgb(233, 212, 21) 30%, #1a6608 100%);
background: -webkit-linear-gradient(top, rgb(233, 212, 21) 0%, rgb(233, 212, 21) 30%, #1a6608 100%);
background: linear-gradient(to bottom, rgb(233, 212, 21) 0%, rgb(233, 212, 21) 30%, #1a6608 100%);
}

.title{
  position: absolute;
  top: 20%;
  left: 30%;
  padding: 2%;
  width: 400px;
  height: 450px;
}


.form-label{
  font-size: 20px;
  font-weight: bold;
}
.navbar-brand{
  font-size: 30px;
  font-weight: bold;
}

#clo{
  top: 110px;
  left: 360px;
  width: 500px;
  height: 420px;
  position: absolute;
  transform: rotate(10deg);
}

.head{
color: rgb(233, 212, 21);
border: rgb(29, 29, 116);
font-size: 40px;
font-family: sans-serif;
}

.textclo{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  position: absolute;
  top: 21%;
  left: 29%;
  padding: 2%;
  width: 390px;
  height: 450px;
  color: #0d6efd  ;
}

body{
  background-image: url("/img/1614131699_2-p-fon-s-supergeroyami-marvel-2.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Футер и прочие расклады */
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
  margin-left: 35%;
	width: 28%;
	height: 30px;
  background-color: #1a6608;
  text-align: center;
  padding-top: 2px;
}

a{
  text-decoration: none;
}
/* конец футера */

/* Контейнер для командной странички */
.teamcont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.card-title{
  height: 40px;
}

.cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}

.card-body{
  background-color: rgb(233, 212, 21);
  height: 100%;
}
/* .card{
  height: 100%;
} */

.teambutton{
  /* position: absolute; */
  top: 30px;
  margin-top: 30px;
  margin-left: 35%;
  color: #1a6608;
  border-radius: 6px;
  background-color: rgb(233, 212, 21);
  vertical-align: bottom;
    color: #01a715;
    height: 40px;
    width: 400px;
}
.teambutton:hover {
  cursor: pointer;
  background: #1a6608;
  color: white;
}
.smyler{
  border-radius: 6px;
  background-color: rgb(233, 212, 21);
  vertical-align: bottom;
    color: #1a6608;
    position: absolute;
	left: 0;
	bottom: 50px;
  margin-left: 35%;
	width: 28%;
	height: 34px;
  text-align: center;
  padding-top: 2px;
}
.smyler:hover{
  cursor: pointer;
  background: #1a6608;
  color: white;
}
